<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Домашняя работа</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="text-center">Random image app</h1>
      </header>
      <article class="card">
        <div class="card-body">
          <p>
            <a href="/" class="btn btn-primary">Next</a>
          </p>
          <table class="table table-bordered">
            <tr>
              <th><img src="https://loremflickr.com/160/120?random=1" /></th>
              <th><img src="https://loremflickr.com/160/120?random=2" /></th>
            </tr>
            <tr>
              <th><img src="https://loremflickr.com/160/120?random=3" /></th>
              <th><img src="https://loremflickr.com/160/120?random=4" /></th>
            </tr>
          </table>
          <ul class="list-group">
            <li class="list-group-item">Easy</li>
            <li class="list-group-item">Simple</li>
          </ul>
        </div>
      </article>
    </div>
  </body>
</html>
